<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <nav>
        <a href='/'>Members Only</a>
        <a href='login'>Log In</a>
        <a href='signup'>Sign Up</a>
    </nav>
</body>
</html>