extends layout

block content
    div(class='container')
        h1 Post
        form(action='' method='POST')
            div(class='mb-3')
                label(for='title' class="form-label") Title
                input(name='title' placeholder='Title' type='text' class="form-control" required) 
            div(class='mb-3')
                label(for='message' class="form-label") Message
                input(name='message' placeholder='Message' type='text' class="form-control" required)
            button(type="submit" class="btn btn-primary") Submit